
.calculate-box
{
    display: block;
    padding:15px 10px;
   border-radius: 0;
}

.calc-select { height: 75px; }
.calc-select a, .calc-select label
{
    display: block;
    position: relative;
    float:left;
    background: url('../images/btn-3.png') left center no-repeat;
    background-size: auto 100%;
    height: 30px !important;
    line-height: 27px !important;
    color:#fff !important;
    font-family: 'Oxygen', Tahoma, sans-serif;
    font-size:22px !important;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    margin:0 5px;
}

.calc-select   a > small, .calc-select   label > small { font-size:11px;}
.calc-select   a:after, .calc-select   label:after {
content: '';
position: absolute;
background: url('../images/btn-3-right.png') left center no-repeat;
background-size: auto 100%;
right:-20px;
height: 100%; width:20px;
top:0;
}
.calc-select   a:before, .calc-select   label:before {
content: '';
position: absolute;
background: url('../images/btn-3-left-1.png') right center no-repeat;
background-size: auto 100%;
left:-20px;
height: 100%; width:20px;
top:0;
}

.calc-select   a.active, .calc-select   label.active { background-image: url('../images/btn-2.png');}
.calc-select   a.active:after, .calc-select   label.active:after { background-image: url('../images/btn-2-right.png'); }
.calc-select   a.active:before, .calc-select   label.active:before { background-image: url('../images/btn-2-left.png'); }
.calc-select   a.prev:after, .calc-select  label.prev:after { background-image: url('../images/btn-3-right-2.png'); right:-14px; }
.calculate-box ul>li
{
    width:100%;
    display:inline-block;vertical-align:top;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    }


.calculate-box ul>li label
{
    //text-transform:uppercase;
    font-size:13px;
    font-weight:300;
    color: #4f5156;
    height:20px;
    text-align: center;
    line-height:20px;
}

.calculate-box ul>li input
{
   text-align:left;
    width:100%;
    color:#fff;
    color:#4f5156;
    height: 60px;
    margin:0;
    padding:0 !important;
    border:none!important;
    border-radius:0px;
    box-shadow:none!important;
    background: none;
    margin-top:-20px;
    font-family: 'Oxygen', Tahoma, sans-serif;
    font-size: 35px;
    line-height: 1px;
    font-weight: 300;
      box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}
.calculate-box  ul>li>input:focus{background: #eee;}
.min-value{float:left;opacity:.5;font-size:10px;margin-top:-20px; margin-left:2px;}
.max-value{float:right;opacity:.5;font-size:10px;margin-top:-20px; margin-right: -10px}

.calculate-box ul>li.drag-select { padding:0; width:390px; margin-top:5px; margin-left:18px;
     }
div.selector
{
    width:100%;
    position:relative;
    margin:5px 0 20px 5px;
    height:16px;
}
div.selector>.p_line
{
    width:100%;
    display:block;
    height:10px;
    cursor:pointer;
    z-index:1;

    border-radius: 5px;
    background: #fff;
    box-shadow:inset 0 2px 2px rgba(0,0,0,0.05);
}
div.selector>.resize
{
    position:relative;
    top:-13px;
    background: url('../images/btn-3.png') left center no-repeat;
    background-size: auto 100%;
    margin-left:0;z-index:40;cursor:e-resize;height:16px;width:10px;
}
div.selector>.resize:before
{
    height:100%; width:20px;
    content:'';
    top:0;
    right:-20px;
    display: block;
    background: url('../images/btn-3-right.png') left center no-repeat;
    background-size: auto 100%;
    position:absolute;
}
div.selector>.resize:after
{
    height:100%; width:20px;
    content:'';
    top:0;
    left:-20px;
    display: block;
    background: url('../images/btn-3-left.png') right center no-repeat;
    background-size: auto 100%;
    position:absolute;
}


div.selector>.resize>span
{
  left:-50%;
  line-height:18px;
  margin-top:0px;
  padding:0 5px;
  position:absolute;
  font-size:11px;
  display: none;
  color:#fff;
  height:18px;

  border-radius:5px;
      background:#FF6300;
      border-bottom: 1px solid rgba(0,0,0,0.1);
}
.p_before
{
        height: 6px;
        top:2px;
        left:2px;
        z-index:1;
        border-radius: 5px;
        position: absolute;
       background:#E2E2E2;
}
.calc-amount { width:40% !important; float:left; }

.calc-profit{text-align:center; position: relative; width:60% !important; float:left;}
.calc-profit:before { height: 100%; width:50px; left:-50px; position: absolute;
top:0;
background: url('../images/figure-b.png') center right no-repeat;background-size: auto 50px;
content: '';}
.calc-profit>span
{
    background:0 0!important;
    font-size:35px;
    float:left;
    padding-left:10px;
    height:40px !important;
    color: #434646;
    text-align:left;
    width:100%;
    color:#fff;
    color:#4f5156;
    height: 60px;
    margin:0;
    padding:0 !important;
    border:none!important;
    border-radius:0px;
    box-shadow:none!important;
    background: none;
    font-family: 'Oxygen', Tahoma, sans-serif;
    font-size: 35px;
    line-height: 30px;
    font-weight: 300;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}
.calc-profit>span>small { font-size:13px;}
.calc-profit>small { position: absolute; text-align: right; line-height: 10px; font-size:12px;  right:55px; top:10px; }
.calc-profit>small.small-2 { top:50px;}