
@media (max-width: 480px) {

}
@media (max-width: 640px) {


}
@media (max-width: 767px) {

}
@media (max-width: 771px) {
	.header-login-block { padding-left:33%;}
}
@media (max-width: 991px) {

}

@media (max-width: 992px) {
	section.stat { padding-top: 170px; overflow: hidden;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header { height: 550px}
	section.about { overflow: hidden; }
	section.stat { padding-top: 170px; overflow: hidden;}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header { height: 550px}
	section.stat { padding-top: 170px; overflow: hidden;}
	.header-middle  { padding-left: 100px}
	.header-text > p { padding-left:;}
	.block-social {  margin: 130px 150px 0 0px; }
	section.about { overflow: hidden; }
	section.about a.btn.btn-3 { margin-right:50px;}
}

@media (min-width: 1400px) {
	body { background: url('../images/noisy-texture-100x100-o6-d10-c-ffefe3-t1.png'), #C5C5C5; }
	.wrapper { max-width: 1400px; display: block; margin:0 auto;
		box-shadow:0 0 30px rgba(0,0,0,0.2);}
	.paysys-title.other { margin-top:-121px;}
}

.wrapper { min-width: 1000px; }
section.about { overflow: hidden; }
.wrapper > div, .wrapper > section  { min-width: 1000px; }